.row {
  // Use max-width so that viewport will fill 100% of available space, but won't stretch absurdly on really large devices
  max-width: $grid-width; // 1140px
  // The browser will automatically figure out the left and right margin, and they will be the same with the element centered
  margin: 0 auto;

  // Instead of removing the margin from the last row, just add it to all except the last row
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  // Attribute selector - all elements with class that starts with col.
  // The caret says "Starts with..."
  // The * says "Contains"
  // The $ says "Ends with..."
  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  .col-1-of-2 {
    // Allows us to do calculations with mixed units
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }

  .col-2-of-3 {
    width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
  }

  .col-1-of-4 {
    width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
  }

  .col-2-of-4 {
    width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
  }

  .col-3-of-4 {
    width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + (2 * #{$gutter-horizontal}));
  }
}